{% if "_" in entity.name %}
{%else%}
{% for property in entity.properties %}
	{% if property is entity and loop.first %}
		{% if loop.last %}
DELETE*FROM {{entity.name|capitalize}} WHERE {{property.name}}='Notas Malas';
		{% endif %}
		{% else %}
		{% if loop.last %}
DELETE*FROM {{entity.name|capitalize}} WHERE {{property.name}}='Notas Malas';
		{% endif %}
	{% endif %}
{% endfor %}
{% endif %}

