

CREATE TABLE {{entity.name|capitalize}} (
	{% for property in entity.properties %}
	{% if loop.last%}
    {{property.name}} {{property.type|javatype}}
	{% else %}
	{{property.name}} {{property.type|javatype}},
	{% endif %}
   {% endfor %}
   );

  